name: docs
on:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      
      # キャッシュ設定（ビルド高速化）
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV 
      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-
            
      # 必要なツールと、mahjax本体をインストール
      # (docs/requirements.txt があるなら -r docs/requirements.txt でも可)
      - run: pip install mkdocs-material mkdocstrings[python] .
      
      # 公開コマンド
      - run: mkdocs gh-deploy --force